{{!-- <div class="card">
    <div class="row col-md-offset-2" justify-content='space-between'>
        <div class="col-sm-4">
            <img class='card-img-top' src="{{image_url}}" width="50%" height="50%"/>
            <h5 class="card-title"> {{name}}</h5>
            <p class="card-text">{{description}}</p>
        </div>
    </div>
</div> --}}

<div class="card">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><img class='card-img-top' style="width:auto; height:300px;" src="{{image_url}}" /></div>
        <div class="col-md-4"></div>
        
    </div>
    <div class="card-body">
        <h4 class="card-title"> {{name}}</h4>
        <p>{{tagline}}</p>
        <h6 class="card-text">{{description}}</h6>
    </div>
</div>


